/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-base);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg-primary);
}

.app-container {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-xl);
}

/* Common Elements */
button {
    margin: 0;
}


/* Form Elements */
input,
select {
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
    background-color: var(--color-bg-tertiary);
    color: var(--color-text);
    font-size: var(--font-size-md);
}

/* Utility Classes */
.hidden {
    display: none;
}